    html, body {
        margin: 0;
        width: 80%;
        height: 80%;
    }
    header{
            width: 100%;

            height:30%;
            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 40%; margin-right: 60%;
    }
    .container{
            position: absolute;
            width:100%;
            height: 50%;
            border: #8041D9;
    }
    .left{
            display: inline-block;
            position: absolute;
            left : 5%;
            width: 30%;
            height: 100%;
            border-color: #A566FF;
    }
    .right{
            display: inline-block;
            position: absolute;
            left: 40%;
            right: 5%;
            width:80%;
            height: 120%;

    }

/* Search Bar*/
    .green_window {
        text-align: center;
        display: inline-block;
        width: 366px; height: 34px;
        border: 3px solid #D1B2FF;
        background: white;
    }
    .input_text {
        width: 348px; height: 21px;
        margin: 6px 0 0 9px;
        border: 0;
        line-height: 21px;
        font-weight: bold;
        font-size: 16px;
        outline: none;
    }
    .sch_smit {
        width: 80px; height: 40px;
        margin: 0; border: 0;
        vertical-align: top;
        background: #A566FF;
        color: white;
        font-weight: bold;
        border-radius: 1px;
        cursor: pointer;
    }
    .sch_smit:hover {
        background: #8041D9;
    }
